@page "{forumId}"
@using SimpleForum.Models
@model SimpleForum.Pages.Forums.Index
@{
    ViewData["Title"] = Model.Data.Name;
}

<div class="main-container">
    <div class="thread-list-header">
        <h1><a asp-page="/Index">Home</a> > @Model.Data.Name</h1>
        <div class="divider"></div>
        <a class="create-thread-btn" asp-page="/Forums/Create" asp-route-forumId="@Model.Data.ForumId">Create thread</a>
    </div>
    @foreach (ForumThread thread in Model.Data.Threads)
    {
        <div class="thread-list-item">
            <a asp-page="/Threads/View" asp-route-threadId="@thread.ThreadId">@thread.Title</a>
        </div>
    }
</div>