.main-profile-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 15rem 1fr;
}

.user-info {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.user-info img {
  width: 100%;
  border-radius: 100px;
}

.profile-page-section {
  grid-column: 2;
}

.profile-page-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-page-section-header h1 {
  margin: 0;
}

.profile-page-section-header a {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-recent-thread {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
}

.profile-recent-thread:last-child {
  margin-bottom: 0;
}

.profile-recent-reply {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 0.5rem;
}

.profile-recent-reply:last-child {
  margin-bottom: 0;
}

.recent-reply-content {
  grid-row: 1;
}

.recent-reply-links {
  grid-row: 2;
}

.profile-comments {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.reply-form.profile-comment-form {
  margin-top: 0;
  margin-bottom: 2rem;
}

.all-comments-btn {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem auto;
  border-radius: 10px;
}

.profile-bio-box {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--white);
  font-size: 1.25rem;
}