@using SimpleForum.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICurrentUserAccessor _userAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleForum</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="home-btn" href="/">Home</a>
            @if (_userAccessor.User == null)
            {
                <div>
                    <a asp-page="/Login">Login</a>
                    <a class="register-btn" asp-page="/Register">Register</a>
                </div>
            }
            else
            {
                <div class="profile-section">
                    <div class="profile-section-btn" onclick="toggleDropdown()">
                        <span>@_userAccessor.User.Username</span>
                        <img class="profile-image" src="~/images/profile_images/@(_userAccessor.User.ProfileImage).jpeg" alt="Profile picture" />
                    </div>
                    <div class="profile-dropdown hidden">
                        <a href="javascript:void(0)">Profile</a>
                        <form asp-page="/Logout">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            }
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>