.navbar {
  background: var(--grey-900);
  color: var(--text-brighter);
  height: 60px;
  padding: 0 200px;
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  font-size: 1.25rem;
  margin: 0 1rem;
  color: inherit;
}

.navbar .home-btn {
  margin-right: auto;
}

.navbar .register-btn {
  padding: 0.5rem 1rem;
  background-color: var(--accent-500);
  border-radius: 5px;
}