.navbar {
  background: var(--grey-900);
  color: var(--text-brighter);
  font-size: 1.25rem;
  height: 60px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 30px var(--grey-200);
}

.navbar a {
  text-decoration: none;
  margin: 0 1rem;
  color: inherit;
}

.navbar a:hover, .navbar span:hover {
  color: var(--text-lighter);
  transition: color 0.1s ease;
}

.navbar .home-btn {
  margin-right: auto;
}

.navbar .register-btn {
  padding: 0.5rem 1rem;
  background-color: var(--accent-500);
  border-radius: 5px;
}

.navbar .register-btn:hover {
  background-color: var(--accent-600);
  color: inherit;
  transition: background-color 0.1s ease;
}

.profile-section {
  position: relative;
}

.profile-section-btn {
  display: flex;
  align-items: center;
}

.profile-section-btn:hover {
  cursor: pointer;
}

.profile-section span {
  margin-right: 1rem;
}

::deep .profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0.875rem 1rem;
  box-shadow: 0 10px 30px var(--grey-200);
}

::deep .profile-section > .profile-dropdown > * {
  margin: 0.125rem 0;
}

.profile-dropdown a, .profile-dropdown button {
  color: var(--text);
  padding: 1rem;
  border-radius: 10px;
}

.profile-dropdown button {
  background-color: transparent;
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
}

.profile-dropdown a:hover, .profile-dropdown button:hover {
  background-color: var(--grey-200);
  color: var(--text);
  transition: all 0.1s ease;
}

main {
  margin: 2rem 0;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar a {
    margin: 0 0.25rem;
  }
}