@page
@using SimpleForum.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container">
    <h1>Forum list</h1>
    @foreach (Forum forum in Model.Data.Forums)
    {
        <div class="forum-list-item">
            <a asp-page="/Forums/Index" asp-route-forumId="@forum.ForumId">@forum.Name</a>
        </div>
    }
</div>