@page
@model SimpleForum.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h1>Login</h1>
    <form method="post">
        @if (Model.Data?.Error != null)
        {
            <div class="error-msg">@Model.Data.Error</div>
        }
        <input name="username" placeholder="Username of email"/>
        <input name="password" type="password" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
</div>