@page
@model SimpleForum.Pages.Register
@{
    ViewData["title"] = "Register";
}

<div class="login-container">
    <h1>Register</h1>
    <form method="post">
        @if (Model.Data.Error != null)
        {
            <div class="error-msg">@Model.Data.Error</div>
        }
        <input name="email" placeholder="Email" />
        <input name="username" placeholder="Username" />
        <input name="password" placeholder="Password" type="password" />
        <input name="confirmPassword" placeholder="Confirm password" type="password" />
        <button type="submit">Register</button>
    </form>
</div>