.hidden {
  display: none !important;
}

.main-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}

.error-msg {
  background-color: var(--red-100);
  color: var(--red-700);
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.divider {
  flex-grow: 1;
}

.link-style-btn {
  background: none;
  border: none;
  outline: none;
  color: var(--accent-500);
  font-size: inherit;
  padding: 0;
}

.link-style-btn:hover {
  background: none;
}

.reply {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.reply-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.reply-profile-image {
  height: 5rem;
  width: 5rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.reply-content {
  flex-grow: 1;
}

.reply-content-header {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: var(--text-light);
}

.reply-content-header > * {
  margin-right: 1.5rem;
}

.reply-content-header > *:last-child {
  margin-right: 0;
}

.reply-form {
  margin-top: 2rem;
}

.reply-form textarea {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.reply-form button {
  margin-left: auto;
}