/* Colour variables */
:root {
  --accent-100: hsl(220, 100%, 80%);
  --accent-200: hsl(220, 97%, 75%);
  --accent-300: hsl(220, 95%, 70%);
  --accent-400: hsl(220, 93%, 65%);
  --accent-500: hsl(220, 90%, 60%);
  --accent-600: hsl(220, 85%, 50%);
  --accent-700: hsl(220, 80%, 40%);
  --accent-800: hsl(220, 70%, 30%);
  --accent-900: hsl(220, 60%, 20%);
  
  --grey-50: hsl(210, 21%, 95%);
  --grey-100: hsl(210, 20%, 90%);
  --grey-150: hsl(210, 20%, 85%);
  --grey-200: hsl(210, 20%, 80%);
  --grey-300: hsl(210, 19%, 73%);
  --grey-400: hsl(210, 18%, 65%);
  --grey-500: hsl(210, 18%, 58%);
  --grey-600: hsl(210, 17%, 50%);
  --grey-700: hsl(210, 17%, 43%);
  --grey-800: hsl(210, 16%, 35%);
  --grey-900: hsl(210, 16%, 28%);
  
  --red-100: hsl(8, 100%, 80%);
  --red-200: hsl(8, 93%, 73%);
  --red-300: hsl(8, 85%, 65%);
  --red-400: hsl(8, 77%, 58%);
  --red-500: hsl(8, 70%, 50%);
  --red-600: hsl(8, 63%, 42%);
  --red-700: hsl(8, 55%, 35%);
  --red-800: hsl(8, 48%, 27%);
  --red-900: hsl(8, 40%, 20%);
  
  --text: hsl(211, 20%, 45%);
  --text-light: hsl(211, 9%, 52%);
  --text-lighter: hsl(211, 7%, 60%);
  --text-brighter: hsl(210, 29%, 95%);
  
  --white: hsl(0, 0%, 98%);
}

/* Fonts */
/* inter-100 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/inter-v11-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-100.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v11-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-200.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v11-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v11-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/inter-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inter-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inter-v11-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inter-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inter-v11-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
}

/* Default styles */
body {
  margin: 0;
  font-size: 16px;
  min-height: 100%;
  background-color: var(--grey-100);
  color: var(--text);
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

input, textarea {
  width: 100%;
  border: none;
  background: var(--grey-100);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

button {
  padding: 0.5rem 1rem;
  color: var(--text-brighter);
  background-color: var(--accent-500);
  transition: background-color 0.1s ease;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  display: block;
}

button:hover {
  background-color: var(--accent-600);
  cursor: pointer;
}

a {
  color: var(--accent-500);
}

/* Thread creation */
